@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #f8f8ff;
}

body > * {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}


header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.main {
    display: flex;
    flex-flow: row wrap;
}

nav.main-nav {
    display: flex;
    height: 80px;
    background-color: rgb(231, 223, 101);
    justify-content: space-between;
    align-items: center;
    padding-left: 130px;
    padding-right: 130px;
}

.main-nav > .menu {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}

.menu > a {
    color: black;
    text-decoration-line: none;
    list-style: none;
    margin: 8px;
    font-size: 1em;
}

.side-bar {
    width: 20%;
    height: calc(100vh - 80px);
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    background-color: rgb(253, 226, 226);

    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    text-align: center;
}


.social-media-icons > a {
    color: rgb(12, 5, 5);
    text-decoration-line: none;
    font-size: 1.2em;
    margin: 6px;   
}

.user-aside img{
    width: 130px;
    border-radius: 50%;
    margin: 16px;
}

.user-aside h2 {
    margin: 8px 0px;
}

.articles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.home-img {
    margin-top: -20px;
    margin-bottom: 40px;
    width: 400px;
    height: auto;
}

.home-article h2 {
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
}

.show-article {
    display: block;
}

.article {
    display: none;
    margin: 32px auto;
    width: 80%;
}

.article h3 {
    text-transform: uppercase;
    font-size: 1.4em;
    margin-bottom: 16px;
}

.article p {
    font-size: 1em;
    text-align: justify;
    margin-bottom: 24px;
}

.article img{
    display: block;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


